.block {
    background-color: rgb(31, 4, 67);
    overflow: auto;
    border: 1px solid #000;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.lox {
    background-color: rgb(204, 98, 193);
    display: inline-block;
    width: 250px;
    height: 150px;
    border: 5px double #4498b9;
    border-radius: 20px;
    box-shadow: inset 1px 1px 5px #31dbbc;
    padding: 30px;
    margin: 5px;
}